/*     .para-lax{
   position: relative;

left: 0px !important;
}


    .slider-parallax-group3{
   position: relative;
width: 401.8px;
height: 285px;
left: 0 !important;


}

.parallax3{
    display: flex;
    left: -5% !important;
    position: relative;
}
.center-parallax3{
   


 position: relative;
width: 142px;
height: 208.5px;
left: -129px;


background: #FFCC00;
background-attachment: fixed;
box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
border-radius: 20px;
}


.right-parallax3{
top: 50px;
position: relative;
width: 120px;
height: 142.8px;
/* left: 410px; */
/*background: #F7F7F9;
border-radius: 0px 20px 20px 0px;
}

.left-parallax3{
    /* Rectangle 24 */

/*top: 50px;
position: relative;
width: 120.7px;
height: 140.9px;
left: 129px;


background: #F7F7F9;
border-radius: 20px 0px 0px 20px;
}
.price-center3{
    /* sayna bootstrap */




/*font-family: Lato;
font-style: normal;
font-weight: bold;
font-size:15px;
line-height: 22px;
margin-left: 10%;
margin-top: 10%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.05em;

color: #FFFFFF;
}
.txt-center-para3{
    /* Je paie ma formation directement jusqu’à 3 fois sans frais. */


/*position: absolute;
width: 122.9px;
height: 15.9px;
top: 53.7px;
margin-top: 18.6px;
left: 7px;



font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 11.4px;
line-height: 22px;
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;
}
.btn-center-para3{

position: relative;
width: 99.3px;
height: 26.5px;
left: 20.3px;
top: 110px;
margin-top: auto;
margin-bottom: auto;
background: #FB5875;
border-radius: 100px !important;
}

.parallax3 label>a {
    text-decoration-line: none;
}
.label-center-para3{
    /* je m’inscris */


/*position: relative;
width: 80.8px;
height: 18.9px;
margin-top: none;
margin-bottom: none;
text-decoration-line: none !important;
top: -5px;
font-family: "Lato";
font-style: normal;
font-weight: bold;
font-size: 11.7px;
/*
line-height: 11.7px;*/
/*
text-align: center;
letter-spacing: -0.035em;
text-transform: uppercase;

color: #EBEBF1;
}

.content-left3{
    position: absolute;
width: 128.7px;
height: 162.7px;
/* left: 383px;
top: 4615px; */
}
/*.header-right3 {

   
    position: relative;
    width:120.1px;
    height: 83.5px;
    left: 0.7px !important;
    top: 8.7px;

font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 8.2px;
line-height: 15.3px;
/* or 33px */

/* display: flex; */
/*align-items: center;
text-align: center;
letter-spacing: -0.025em;
text-transform: uppercase;

color: #000000;
}

.header-left3 {
    /* remboursement AGENCY */


 /*   position: relative;
    width:120.1px;
    height: 83.5px;
    left: 1.7px;
    top: 8.7px;

font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 8.2px;
line-height: 15.3px;
/* or 33px */

/* display: flex; */
/*align-items: center;
text-align: center;
letter-spacing: -0.025em;
text-transform: uppercase;

color: #000000;
}
.price-left3, .price-right3 {
   


position: relative;
width: 120px;
height: 21.4px;
top: 20px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 21.4px;
line-height: 29.7px;
/* display: flex; */
/*align-items: center;
text-align: center;
letter-spacing: -0.02em;
text-transform: lowercase;
color: #000000;

}
.btn-left-para3{

    position: relative;
    width: 99.2px;
    height: 23.5px;
    left: 17.7px;
    top: 96px;

background: #E9EAEF;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
border-radius: 100px !important;
}
.label-left-para3{
    /* je m’inscris */

/*position: relative;
width:80.6px;
height: 27.9px;
/* left: 523px;
 */


/*font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 11.7px;
line-height: 11.7px;
text-align: center;
text-transform: uppercase;
text-decoration: none !important;
color: #FB5875;
}

.content-right3{

position: absolute;
width: 129px;
height:187.7px;
/* left: 1174px;
top: 4574px; */

/*}

.left-parallax3 a{
    text-decoration-line: none;
}
.center-parallax3 a{
    text-decoration-line: none;
}
.right-parallax3 a{
    text-decoration-line: none;
}

.haute {
    background: url("../images/Forme 5.png") ; 
background-position: left top ;
  background-repeat: no-repeat;
  background-size: 55%;
}


.btn-right-para3{

    position: relative;
    width: 99.3px;
    height: 24.5px;
    left: ;
    top: 28.5px;
    

background: #E9EAEF;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
border-radius: 100px !important;
}
.label-right-para3{

position: relative;
width: 80.6px;
height: 25.9px;
/* left: 1286px;
top: 5060px; */
/*margin-top: none;

font-family: "Lato";
font-style: normal;
font-weight: normal;
font-size: 11.7px;
line-height: 11.7px;
text-align: center;
text-transform: uppercase;

color: #FB5875;
}*/
/*
.in-view-left {
    -webkit-animation: in-view-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: in-view-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}@-webkit-keyframes in-view-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-129px);
            transform: translateX(-129px);
  }
}
@keyframes  in-view-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-129px);
            transform: translateX(-129px);
  }
}
.in-view-right {
    -webkit-animation: in-view-right 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: in-view-right 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes in-view-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX( 129px);
            transform: translateX( 129px);
  }
}
@keyframes in-view-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX( 129px);
            transform: translateX( 129px);
  }
}*/