@media(max-width:992px) {
    .rectangle-18 {
        margin-top: 10px;
    }
}

@media (max-width:400px) {
    .li-rect {
        width: 321px !important;
    }
    .tem1,
    .tem2 {
        width: 271px !important;
    }
    .partner-logo {
        padding-left: 0;
        padding-right: 0;
    }
    .component-2a {
        width: 280px !important;
        height: 47px;
    }
    .fleche-ils-parlent {
        margin-left: 24px;
    }
}

@media(min-width:1000px) and (max-width:1100px) {
    .agency-text {
        font-size: 4.4em !important;
    }
    .form1 {
        width: 521px !important;
    }
}

@media(min-width:886px) and (max-width:1000px) {
    .agency-text {
        font-size: 3.8em !important;
    }
    .form1 {
        height: 433px !important;
        width: 463px !important;
    }
}

@media(min-width:767px) and (max-width:886px) {
    .agency-text {
        font-size: 3.3em !important;
    }
    .form1 {
        height: 392px !important;
        width: 394px !important;
    }
}

@media(max-width: 767px) {
    .agency-text {
        font-size: 2.1em !important;
        top: 114px !important;
    }
    .form1 {
        height: 300px !important;
        width: 281px !important;
    }
    .logo1 {
        width: 35% !important;
        height: 52.38px !important;
    }
    .ensemble,
    .sourcing-placement {
        left: 0px !important;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .pantalon1 {
        left: 18% !important;
    }
    .image1 {
        left: 0;
    }
    .bouton {
        top: 315px !important;
        left: 0 !important;
    }
    .selection {
        top: 167.28px !important;
    }
    .rectangle-18,
    .rectangle-17 {
        margin-top: 10px;
    }
    .nos-tarifs-attractifs {
        bottom: 0;
        float: right;
    }
    .SAYNA-Agency-place {
        width: 77%;
    }
    .pourcent {
        width: 160%;
        height: auto;
    }
    .layingDoodle-1 {
        top: 31%;
    }
    .group-69 {
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .notre-communaute {
        position: relative;
        width: 30%;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .rassemblons-communaute {
        position: relative;
        margin-top: 26px;
        left: 0;
    }
    .profitez-maintenant {
        position: relative;
        left: 0;
    }
    .btn-join {
        position: relative;
        left: 0;
    }
    .rectangle-1921 {
        display: none;
    }
    .rplc-1921 {
        width: 82%;
        height: 3.72px;
        background-color: #FFCC00
    }
    .part-five-5 {
        margin-top: 0;
    }
    .media-body {
        text-align: -webkit-center;
        text-align: -moz-center;
        left: 0;
    }
    .media {
        position: relative;
        width: 107.39px;
    }
    .decouvrez-nous {
        position: relative;
    }
    .sayna-faire-connaitre {
        position: relative;
        width: 75%;
    }
    .component-2a {
        position: relative;
    }
    .img-4281 {
        position: relative;
        width: 72%;
        height: 352px
    }
    .img-media {
        left: 0;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .Groupe-SANS-CONTENT {
        left: 0;
    }
}

@media(max-width: 420px) {
    .form1 {
        height: 259px !important;
        width: 233px !important;
    }
    .logo1 {
        width: 100px !important;
        height: 48.38px !important;
    }
    .agency-text {
        top: 95px !important;
    }
}

@media(max-width:950px) and (min-width:825px) {
    .digital-school {
        font-size: 1.7em;
    }
}

@media(max-width:824px) {
    .digital-school {
        font-size: 1.5em;
    }
}

@media(max-width:722px) {
    .digital-school {
        font-size: 1em;
    }
}

@media(max-width:886px) {
    .news-letter {
        left: 0;
    }
    .news-form {
        width: 100% !important;
    }
    .form-news-ltr {
        width: 100% !important;
        height: 45.27px !important;
        font-size: 0.6em !important;
        padding-left: 8px !important;
    }
    .btn-news-ltr {
        width: 40% !important;
        height: 45.96px !important;
        top: -29.8px !important;
    }
    .label-news-1 {
        font-size: 0.8em !important;
        margin-top: 5px !important;
    }
}

@media(min-width:1450px) {
    .woman-img {
        top: 69px;
    }
}

@media(max-width:578px) {
    .partner {
        height: 308PX;
    }
    .woman-img {
        display: none;
    }
    .logo-groupeBanqueMoandial {
        background-size: 181px 35px !important;
        width: 200px !important;
    }
    .bouton {
        height: 47px;
        width: 200px;
        font-size: 0.67em !important;
    }
    .txt-voir-detail {
        font-size: 1em;
    }
    .fleche-cataloge {
        margin-left: 11px;
        font-size: 13px;
    }
    .btn-component-2 {
        width: 219px;
        height: 50px;
    }
    .voir-detail {
        font-size: 0.8em;
        bottom: 3.15%;
    }
}

@media(min-width:1323px) {
    .partner-logo {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media(max-width:891px) {
    .col-img-businessman {
        display: none;
    }
    .ensemble {
        left: -2%;
    }
}

@media(max-width:950px) {
    .pantalon1 {
        position: absolute;
        width: 38%;
        height: 169px;
        left: 22%;
        top: 41%
    }
    .pourcent {
        height: auto;
    }
}

@media(max-width:1010px) and (min-width:768px) {
    .layingDoodle-1 {
        top: 52%;
    }
    .groupe-12 {
        top: -27%;
    }
}

@media(min-width:1401px) {
    .layingDoodle-1 {
        width: 552px;
        top: 37%;
    }
    .groupe-12 {
        width: 580px;
        top: -70%;
    }
}

@media (max-width: 2000px) and (min-width:1300px) {
    .layingDoodle-1 {
        top: 37%;
    }
    .groupe-12 {
        top: -68%;
    }
    .pantalon1 {
        height: 180px;
    }
}

@media(max-width:860px) {
    .groupe-12 {
        display: none;
    }
    .nos-tarifs-attractifs {
        width: 84% !important;
    }
}

@media(min-width: 1150px) {
    .boxes-details {
        padding-left: 75px;
        padding-right: 75px;
    }
}

@media(min-width:751px) {
    .tem-etudiant {
        margin-top: -17%;
    }
}

@media(max-width:1000px) {
    .nos-tarifs-attractifs {
        left: 0;
        font-size: 0.7em;
    }
    .SAYNA-Agency-place {
        width: 90%;
    }
    .youtube-pager {
        bottom: 13%;
    }
    .Bg {
        height: 88%;
    }
    .youtube-pager li {
        width: 8px;
        height: 8px;
    }
}

@media(max-width:837px) and (min-width: 779px) {
    .gras {
        font-size: 4.1em;
    }
}

@media(max-width: 778px) {
    .gras {
        font-size: 3.5em;
    }
}

@media(max-width:1013px) and (min-width:890px) {
    .ellipse-170 {
        left: 19px !important;
    }
    .Polygon-6 {
        left: 14px !important;
        top: -53% !important;
    }
}

@media(max-width:889px) {
    .left-ellipse,
    .right-ellipse {
        display: none;
    }
    .center-groupe-ellipse {
        position: relative !important;
        margin-top: 0;
    }
}

@media(max-width:933px) {
    .rassemblons-communaute {
        line-height: 32.78px;
    }
}

@media(max-width:1016px) and(min-width:768px) {
    .profitez-maintenant {
        top: 59%;
    }
    .btn-join {
        top: 80%;
    }
}

@media(max-width:800px) {
    .component-2a {
        width: 300px;
    }
}

@media (max-width: 330px) {
    .partner {
        height: 330PX;
    }
}

@media (max-width:350px) {
    .list-rect {
        width: 260px;
        height: 325px;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .suivie,
    .soft,
    .blended {
        left: 0;
    }
    .tenons,
    .milieu-professionnel,
    .numerique-important {
        width: 210px;
    }
}